/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Oswald');

// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";
$base-font: AvenirLTStd-Light, "Open Sans", open-sans, sans-serif;
$header-font: AvenirLTStd-Light, "Open Sans", open-sans, sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme


// main color for app */
$brand-color: #FF6161;
// light grey used for main background color
$light-grey: #F9F9F9;
// used for background boxes
$medium-grey: #E3E3E3;
// used for icons
$grey: #C6C6C6;
// used for main text
$dark-grey: #575757;
// used for dark buttons
$darker-grey: #5B5B5B;
// used for titles
$off-black: #161616;
// btn-danger-color
$danger: #d9534f;
// btn-success-color
$success: #5cb85c;


$brand-color: #D23333;
$red-red: #F20007;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
