.close {
  display: none;
}

.meal-type {
  position: relative;
}

.meal-cross {
  position: absolute;
  top: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.swiper-shared {
  margin-top: -10px;
}

.meal-type h2 {
  font-weight: bolder;
  font-size: 20px;
}
