.user_page{
  .avatar-position {
    margin-top: 10px;
  }

  .user-profile {
    padding-top: 70px;
    background: rgb(240, 240, 240);
    h3 {
      margin-top: 5px;
    }
  }

  .edit {
    margin-top: 10px;
  }

  .flex {
      display: flex;
      align-items: center;
      justify-content: center;


    .settings {
      background:rgb(240, 240, 240);
      border-radius: 5px;
    }
  }

  .disliked {
    color: $danger;
  }

  .liked {
    color: $success;
  }

  h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
  }

  li {
    font-size: 14px;
    list-style-type: none;
    margin-bottom: 5px;
  }

  li:nth-child(even) {
    color: $off-black;
  }

  li:nth-child(odd) {
    color: $darker-grey;
  }

}
