.avatar-position {
  margin-top: 10px;
}

.user-profile {
  background: rgb(240, 240, 240);
  h3 {
    margin-top: 5px;
  }
}

.preferences {
  h4 {
    padding-left: 10px;
  }

  .settings {
    background:rgb(240, 240, 240);
    border-radius: 5px;

  }
}
