<div class="container-fluid main-container">
  <h2>Your current recipes</h2>
  <% @next_user_recipes.each do |u_recipe| %>
    <% recipe = Recipe.find(u_recipe.recipe_id) %>
      <%= render "shared/cookbook_recipe_cards", recipe: recipe, u_recipe: u_recipe %>
  <% end %>
 </div>

<% content_for(:after_js) do %>
   <script>
  $(".meal-cross").click(function() {
    var $meal = $(this).closest('.main-container')
    idClick = $meal.find(".delete-recipeg").attr('id')
    $(this).closest('.delete-recipeg').fadeOut(400);
      $.ajax({
      url: "/user_recipes/" + idClick,
      type: 'DELETE',
      success: function() {
        console.log(this)
    }
  });
});
</script>
<% end %>

