  <div class="card-difficulty"><i class="fa fa-cutlery" aria-hidden="true"></i> <%= recipe.recipe_type.upcase %></div>
  <div class="card-time"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= recipe.category %></div>
  <div class="card-description">
    <p><%= recipe.name %></p>
    <!-- <p><%= recipe.instructions %></p> -->
  </div>



