<!-- <div class="footer">
  <div class="footer-menu">
    <i class="fa fa-user footer-menu-item" aria-hidden="true"></i>
    <i class="fa fa-book footer-menu-item" aria-hidden="true"></i>
    <i class="fa fa-book footer-menu-item" aria-hidden="true"></i>
    <i class="fa fa-calendar footer-menu-item" aria-hidden="true"></i>
    <i class="fa fa-shopping-basket footer-menu-item" aria-hidden="true"></i>
  </div>

  <div class="footer-circle">
  </div>

</div> -->

<div class="footer">
  <div class="footer-flex">
    <div class="footer-flex-left">
      <i class="fa fa-user footer-menu-item" aria-hidden="true"></i>
      <i class="fa fa-book footer-menu-item" aria-hidden="true"></i>
    </div>
    <div class="footer-circle">
     <i class="fa fa-plus home-button" aria-hidden="true"></i>
    </div>
     <div class="footer-flex-right">
      <i class="fa fa-calendar footer-menu-item" aria-hidden="true"></i>
      <i class="fa fa-shopping-basket footer-menu-item" aria-hidden="true"></i>
    </div>
  </div>
</div>
