<div class="scroller">
  <div class="scroll-flex">
    <div class="scroll-btn"><h2>MON</h2></div>
    <div class="scroll-btn"><h2>TUE</h2></div>
    <div class="scroll-btn"><h2>WED</h2></div>
    <div class="scroll-btn"><h2>THU</h2></div>
    <div class="scroll-btn"><h2>FRI</h2></div>
    <div class="scroll-btn"><h2>SAT</h2></div>
    <div class="scroll-btn"><h2>SUN</h2></div>
  </div>
</div>
