<div class="swiper-container">
  <div class="swiper-wrapper">
    <% Recipe.all.each do |recipe|%>
    <div class="swiper-slide">
      <div class="col-xs-12 recipe-cards">
          <% if Recipe.all != nil %>
            <%= render "shared/card", recipe: recipe %>

          <% else %>
            <h3> There are no recipes yet</h3>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- Initialize Swiper -->
<% content_for(:after_js) do %>
   <script type="text/javascript">
   var swiper = new Swiper('.swiper-container', {
       pagination: '.swiper-pagination',
       paginationClickable: true,
       spaceBetween: 30,
   });



   </script>
<% end %>
