<div class="wrapper home" style="background-size: cover;background-image: linear-gradient(360deg, rgba(255 ,255 ,255, 0.2) 0%, rgba(0,0,0,0.2) 50%),
      url('<%= image_path 'palette.jpg'%>');">
  <div class="form-container">
    <%= link_to "LET'S COOK", swiper_path, class: "btn btn-primary generate text-center hidden-md hidden-lg" %>
    <div class="hidden-xs hidden-sm btn btn-danger generate"><h3>Hubert-cooks works best with a smartphone - please use a smartphone</h3></div>
  </div>
</div>
