<div class="wrapper home" >
  <div class="form-container">
    <%= link_to "LET'S COOK", calendar_path(Date.today), class: "btn btn-primary generate text-center" %>
    <div class="row">

    </div>
  </div>
</div>
