 .footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: white;
  background-color: $off-black;
  box-shadow: 0 -5px 5px -5px $off-black;
  z-index: 60;
  i {
    color: white;
  }

  i:hover {
    color: rgb(210, 210, 210);
  }

  a{
    color: transparent;
  }
 }

 .calendar {
  margin-left: 45px;
 }

 .footer-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $off-black;
 }

 .footer-flex-left {
  i {
    padding: 6px 15px;
    font-size: 38px;
    z-index: 51;
  }
 }
 .footer-flex-right {
  i {
    padding: 6px 45px;
    font-size: 38px;
    z-index: 51;
  }
}
.footer-ingredient_tastes-swiper{
  position: absolute !important;
}

.home-button {
  font-size: 55px;
  margin-bottom: 15px;
}

.footer-circle {
  background-color: $off-black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 -5px 5px -5px $off-black;
  z-index: 0;
 }

