.card {
  height: 130px;
  width: 100%;
  background: linear-gradient(white, $off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.card h3 {
  font: $base-font;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-decoration: none;
}

.card-style {
  color: white !important;
  text-decoration: none !important
}

.card-time {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.recipe-cards {
  padding-right: 0px;
  padding-left: 0px;
}

.banner-chevron-left {
  position: absolute;
  left: 7px;
  bottom: 55px;
  color: white;
}

.banner-chevron-right {
  position: absolute;
  right: 7px;
  bottom: 55px;
  color: white;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
