.product {
  padding: 5px 5px;
  border-radius: 3px;
  transition: all 0.15s ease;
  text-decoration: none;
  height: 100px;
  margin: 5px;
  display: flex;
}


.breakfast {
  background: rgba(242, 0, 7, 0.05);

}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
/* Product image */
.product-image {
  border-radius: 5px 0px 0px 5px;
  margin-right: 5px;
  min-width: 115px;
  background-size: cover;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
// .product:hover .product-upvote { transform: scale(1.2) }
// .product:hover .product-controls-hidden a { color: #E6E6E6 }

.recipe-name {
  font-size: 15px;
  // padding: 5px 10px;
  font-weight: 400;
  color: rgb(150,150,150);
  &:first-letter{
    text-transform: capitalize;
  }
}
.recipe-date {
  font-size: 13px;
  color: rgb(150,150,150);
  font-weight: 300;
  // text-align: right;
  // padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  font-style: italic;
}

.recipe-category{
  font-size: 15px;
  font-weight: 500;
  color: rgb(150,150,150);
  text-transform: uppercase;
  top: 5px;

}



.lunch{
  background-opacity: 0.3;

}

.dinner {
  background-opacity: 0.3;

}

.aperitivo {
  background-opacity: 0.3;

}
