.ingredient-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.ingredient-left {
  max-width: 150px;
}

.ingredient-right {
  display: flex;
  align-items: center;
}

.ingredient-liked {
  color: $green;
  text-shadow: 1px 1px $light-grey;
}

.ingredient-disliked {
  color: $red-red;
  text-shadow: 1px 1px $light-grey;
}

.ingredient-unknown {
  color: black;
}


.ingredient-category {
  margin-right: 10px;
  text-shadow: 1px 1px 2px rbga(0,0,0,0.3);
  font-size: 10px;
  font-weight: bold;
}

.ingredient-category-vegetable {
  color: green;
}
.ingredient-category-dairy {
  color: $blue;
}
.ingredient-category-meat {
  color: brown;
}
.ingredient-category-sauce {
  color: red;
}
.search-ingredients {
  color: red;
}

.ingredients-form {
  display: flex;
  margin: 10px 20px;
}

.search-btn {
  width: 100px;
  margin-left: 10px;
  background-color: $blue;
  color: white;
}

h3 {
  padding-left: 20px;
}
