.scroller {
  background-color: $light-grey;
}

.scroll-flex {
  overflow-x: auto;
  display: flex;
  text-decoration: none;
}

#element::-webkit-scrollbar, ::-webkit-scrollbar  {
  display: none;
}

.scroll-btn {
  margin: 20px;
  background-color: $off-black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: -1px -1px 0px 1px rgba(227,227,227,0.83);
}

.scroll-btn h2 {
  margin-top: 5px;
  font-size: 12px;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: bolder;
  padding-top: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
